@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 100vh;
}

main {
    padding-bottom: 300px;
}

.kenzie_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 73px;
    width: 100%;
}

.kenzie_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 334px;
    height: 42px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.kenzie_text h1 {
    color: #FFF;
}

.section_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 60px 50px 60px;
}

.section_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 34px;
}

.section_cards:hover {
    cursor: pointer;
    font-weight: bold;
}

.section_cards img {
    border-radius: 8px;
    border: 3px solid transparent;
    width: 160px;
    height: 160px;
}

.section_cards img:hover {
    border: 3px solid #FFF;
}

.section_cards svg:hover {
    stroke-width: 5px;
    border-radius: 8px;
    border: 3px solid #FFF;
}

.section_cards p {
    margin-top: 34px;
    color: #FFF;
}

.kenzie_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kenzie_button button {
    background-color: #243B55;
    border-radius: 8px;
    border: 3px solid #FFF;
    line-height: 20.8px;
    font-size: 16px;
    font-weight: 500;
    width: 206px;
    height: 50px;
    color: #FFF;
    cursor: pointer;
}

.kenzie_button button:hover {
    background-color: #FFF;
    color: #000;
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 26px;
    }
    

}